body
{
    background-color:  hsl(233, 47%, 7%);
    margin: 0;
    color: white;
    font-size: 16px;
}
.container
{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
}
#card
{
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

.text
{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}



.image img
{

    display: block;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0px 0px;
}

span
{
    color:hsl(277, 64%, 61%) ;
}

.bold_text
{
    font-family: 'Inter', sans-serif;
    font-size: 28;
    font-weight: 700;
}

.text_light
{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%, 0.75) ;
}

.zone
{
    font-family: 'Lexend Deca', sans-serif;
}

.num
{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.text_little
{
    
}