body
{
    background-color:  hsl(233, 47%, 7%);
    margin: 0;
    color: white;
    font-size: 16px;
}
.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}
#card
{
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

.text
{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.image{
    background-color: hsl(277, 64%, 61%);
}
.image img
{
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px 8px 0px 0px;
    filter: opacity(50%);
}

span
{
    color:hsl(277, 64%, 61%) ;
}

.bold_text
{
    font-family: 'Inter', sans-serif;
    font-size: 28;
    font-weight: 700;
}

.text_light
{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%, 0.75) ;
    line-height: 1.7rem;
}

.zone
{
    font-family: 'Lexend Deca', sans-serif;
    margin:2rem;
}

.num
{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5px;
}

.text_little
{
    color: hsl(0, 0%, 100%, 0.75);
    text-transform: capitalize;
}